<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/">
      <h3>Starwars Example App</h3>
    </a>
    <nav>
      {{#if user}}
        <p>Welcome, {{user.email}}</p>
        {{#if isSearch}}
          <a href="/favorites">View Favorites</a>
        {{else}}
          <a href="/search">Search Characters</a>
        {{/if}}
        <a href="/auth/logout">Log Out</a>
      {{else}}
        {{#if homepage}}
          <a href="/auth/register">Register</a>
          <a href="/auth/login">Login</a>
        {{else}}
          {{#if isLogin}}
            <a href="/auth/register">Register</a>
          {{else}}
            <a href="/auth/login">Login</a>
          {{/if}}
        {{/if}}
      {{/if}}
      
    </nav>
  </header>

  {{{body}}}

</body>

</html>